﻿<!--
    HTML шаблон который является родительским для остальных страниц web приложения
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RMVC_GHandbook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/botsdark.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RMVC_GHandbook.styles.css" asp-append-version="true" />
</head>
<body>
<!--хедер содержащий главные ссылки приложения, обрабатываемые шаблонизатором-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="@Url.Action("Index", "Home", FormMethod.Get)">GHandBook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                
                    <form method="get" action="@Url.Action("Index", "Home", FormMethod.Get)" class="d-flex">
                        <input name="search" class="form-control me-sm-2" type="search" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
<!--контейнер содержащий контент дочерних страниц которые наследуют родительскую-->
    <div class="container">
        <main role="main" class="pb-3">
            <!--метод шаблонизатора которы принимает дочерние страницы-->
            @RenderBody()
        </main>
    </div>
<!--загрузка дополнительных скриптов работающих на клиентской части приложения-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
