﻿<!--
    Представление которому обращаются контроллеры при возникновении request ошибок
-->
<!-- как базовая модель используется ErrorViewModel - модель обработки ошибок-->
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
