﻿<!--сгенерированная страница для Create-->
<!--наследует модель GameMasterCreate-->
@model RMVC_GHandbook.Models.GameMasterClass
@{
    ViewData["Title"] = "Create";
}
<!--разметка страницы-->
<h1>Create</h1>
<h4>GameMasterClass</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--создание формы принимающей данные-->
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiDescription" class="control-label"></label>
                <input asp-for="TiDescription" class="form-control" />
                <span asp-validation-for="TiDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddDate" class="control-label"></label>
                <input asp-for="AddDate" class="form-control" />
                <span asp-validation-for="AddDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--кнопка передающая данные в контроллер AutocrudController.Create.Post который проводит дальнейшие манипуляции-->
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<!--кнопка возвращающая пользователя на стартовую страницу Index-->
<div>
    <a asp-action="Index">Back to List</a>
</div>

