﻿<!--сгенерированная страница для Delete-->
<!--наследует модель GameMasterCreate-->
@model RMVC_GHandbook.Models.GameMasterClass
\
@{
    ViewData["Title"] = "Delete";
}
<!--разметка страницы-->
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameMasterClass</h4>
    <hr />
    <!--создание таблицы содержащей данные-->
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
    </dl>
    <!--создание формы принимающей данные (типизированных данных без ввода)-->
    <form asp-action="Delete">
        <!--хендлер формы выполняющий функции кнопки передающий id итема-->
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <!--кнопка возвращающая пользователя на стартовую страницу Index-->
        <a asp-action="Index">Back to List</a>
    </form>
</div>
