﻿<!--сгенерированная страница для Details-->
<!--наследует модель GameMasterCreate-->
@model RMVC_GHandbook.Models.GameMasterClass

@{
    ViewData["Title"] = "Details";
}
<!--разметка страницы-->
<h1>Details</h1>
<div>
    <h4>GameMasterClass</h4>
    <hr />
    <!--создание таблицы содержащей данные-->
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
    </dl>
</div>
<div>
    <!--кнопка перенаправляющая пользователя на страницу Edit конкретного итема передающая id-->
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <!--кнопка возвращающая пользователя на стартовую страницу Index-->
    <a asp-action="Index">Back to List</a>
</div>
