﻿<!--сгенерированная страница для Index-->
<!--наследует модель GameMasterCreate-->
@model IEnumerable<RMVC_GHandbook.Models.GameMasterClass>

@{
    ViewData["Title"] = "Index";
}
<!--разметка страницы-->
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<!--создание таблицы содержащей данные-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
<!--заполнение таблицы данными из модели-->
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                <!--кнопка перенаправляющая пользователя на страницу Edit конкретного итема передающая id-->
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <!--кнопка перенаправляющая пользователя на страницу Details конкретного итема передающая id-->
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <!--кнопка перенаправляющая пользователя на страницу Delete конкретного итема передающая id-->
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
