﻿<!--
    Представление которому обращается HomeController Index
-->
<!-- GameMasterClass указан как базовою модель в коде контроллера, так что объявлять его и здесь не требуется-->
@{
    ViewData["Title"] = "Games Page";
}
<!-- Разметим страницу -->
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Game List</h2>
		</div>
	</div>
    <br /><br />
<!--Зададим колонки таблицы в ручную-->
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Game
            </th>
            <th>    
                Description
            </th>
            <th>
                Genre
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <!--Используем возможности шаблонизатора ис помощью цикла пройдем по значениям переданым в представление, чтобы заполнить таблицу-->
        <!--Вызов кода и обращения к переменным требуют указания для шаблонизатора методом at-->
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @item.Title
                </th>
                <th>
                    @item.TiDescription
                </th>
                <th>
                    @item.Genre
                </th>
                <th>
                    @item.Price
                </th>
            
                <td>
                    <!--Создадим для каждого элемента кнопку, которая перенесет пользователя на представление Details соответствующее выбранному элементу-->
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-primary mx-2">Details</a> 
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>