﻿<!--
    Представление которому обращается Home4adminController Delete
-->
<!-- укажем GameMasterClass как базовою модель -->
@model GameMasterClass
<!--создадим форму сбора данных для нашей модели так как мы получаем конкретную модель уже имеюую значеиня,
форма уже будет иметь заполненные поля и заполнять их отдельно не понадобится-->
<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Category</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="Title"></label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="TiDescription"></label>
			<input asp-for="TiDescription" class="form-control" />
			<span asp-validation-for="TiDescription" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ReleaseDate"></label>
			<input asp-for="ReleaseDate" class="form-control" />
			<span asp-validation-for="ReleaseDate" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Genre"></label>
			<input asp-for="Genre" class="form-control" />
			<span asp-validation-for="Genre" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" />
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<!--создадим кнопку которая будет передавать значения формы в метод контроллера Delete POST для дальнейшей обработки-->
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<!--создадим кнопку возвращающую пользователя на страницу Index-->
		<a asp-controller="Home4admin" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
<!--вызовем базовый скрипт валидации данных для созданной формы-->
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}