﻿<!--
    Представление которому обращается Home4adminController Details
-->
<!-- укажем GameMasterClass как базовою модель -->
@model RMVC_GHandbook.Models.GameMasterClass
@{
    ViewData["Title"] = "Details";
}
<!-- Разметим страницу -->
<h1>Details</h1>
<div>
    <h4>GameMasterClass</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--используем метод DisplayNameFor для получения название колонки таблицы-->
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            <!--используем метод DisplayFor для получения значение колонки таблицы-->
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TiDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TiDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AddDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AddDate)
        </dd>
    </dl>
</div>
<div>
    <!--создадим кнопку для переадресации пользователя на страницу Edit для текущего итема-->
    <a asp-controller="Home4admin" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a>
    <!--создадим кнопку для переадресации пользователя на страницу Index-->
    <a asp-controller="Home4admin" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
